body {
  background-color: lightgrey;
  padding: 1em;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.main {
  padding: 2em 1em;
}

.container {
  background-color: white;
}


.section-header {
  display: flex;
  margin-bottom: 1em;
}

.contact-detail {
  display: inline-flex;
}

.fa {
  color: white;
  padding: 0.25em 0 0 0.05em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.fa-holder {
  background-color: rgb(53,135,154);
  width: 4.5em;
  height: 4.5em;
  border-radius: 100%;
  margin-right: 1em;
}

.icon-contact {
  margin: 0 0.5em;
}

.profile-header {
  background-color: rgb(53,135,154);
  color: white;
  padding: 5em 0 3em 0;
}

.profile-body {
  background-color: rgb(66,168,192);
  padding: 1em;
}

.profile-body,
.profile-body > .section-header > h4 > a {
  color: white;
}

.profile-picture {
  border-radius: 100%;
}

.job-title {
  text-transform: uppercase;
}
